* {
box-sizing: border-box;
margin: 0;
padding: 0;

}
html {
    font-size: 62.5%;
}
.logo_arsenal {
    width: 65px;
    height: 90px;
}
.header {
    background-color: red;

}
.header_logo, .nav, .nav_list li {
    display: inline-block;
    margin: 5px;
}

.nav {
    position: absolute;
    right: 0;
    
}
.nav_list {
    list-style: none;
    font-size: 2.6rem;
    
}

.nav_list li a {
    text-decoration: none;
    color: white;
}
main {
    height: 400px;
    background-color: #081d38;

}
.barra_lateral {
    display: inline-block;
    height: 100%;
    padding: 10px;
    background-color: rgb(131, 24, 21);
}
.lateral_images img{
    display: block;
    margin: 5px 0;
    border-radius: 10px;
}
.contenido {
    display: inline-block;
    padding: 10px;
    position: absolute;
    color: white;
    }
.footer {
    padding: 20px;
    text-align: center;
    background-color: red;
    color: white;
}